@media (orientation: portrait) and (max-width: 380px) {
  body {
    /* background-color: rgba(228, 255, 230, 0.281); */
  }

  .the-3-sections {
    display: grid;
    grid-template-columns: 1fr;
  }
  .second-topic-with-2-links {
    display: grid;
    grid-template-columns: 0.37fr 0.28fr 2fr;
  }

  .second-topic-with-2-links-2 {
    display: grid;
    grid-template-columns: 0.73fr 0.11fr 3fr;
  }

  .third-topic-with-3-links {
    display: grid;
    grid-template-columns: 1.33fr 0.11fr 0.76fr 0.12fr 1.7fr;
  }

  .the-whole-topic {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* .second-topic-height-on-phone {
    padding-top: 39px;
  }

  .bottom-half-of-Gastrointestinal-topic {
    padding-top: 50px;
  } */
}
@media (orientation: landscape) and (max-width: 820px) {
  body {
    /* background-color: rgba(0, 174, 255, 0.082); */
  }

  .the-3-sections {
    display: grid;
    grid-template-columns: 1fr;
  }
  .second-topic-with-2-links {
    display: grid;
    grid-template-columns: 0.37fr 0.28fr 2fr;
  }

  .second-topic-with-2-links-2 {
    display: grid;
    grid-template-columns: 0.73fr 0.11fr 3fr;
  }

  .third-topic-with-3-links {
    display: grid;
    grid-template-columns: 1.33fr 0.11fr 0.76fr 0.12fr 1.7fr;
  }

  .the-whole-topic {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .second-topic-height-on-phone {
    padding-top: 41px;
  }

  .bottom-half-of-Gastrointestinal-topic {
    padding-top: 50px;
  }
}
